.back{
	display: flex;
	flex-direction: row;
	background-color: lightsteelblue;
	border: 1px solid grey;
	border-radius: 15px;
	height: 75px;
	width: 50px;
	font-size: 0px;
}

.face{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items:center;
	background-color: lightsteelblue;
	border: 1px solid grey;
	border-radius: 15px;
	height: 75px;
	width: 50px;
	font-size: 15px;
}

small.top{
	align-self: flex-end;
	padding: 4px;
}

small.bottom{
	align-self: flex-start;
	padding: 6px;
}