.card{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	background-color: lightsteelblue;
	border: 1px solid grey;
	border-radius: 15px;
	height: 75px;
	width: 50px;
	font-size: 15px;
}